*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.form-inline .form-control{
    border-radius: 50px;
    text-align: center;
    padding-right: 40px;
}
.navbar-brand{
    font-weight: bolder;
    font-size: 50%;
}
.fas{
    position:relative;
    left: 30px;
}
@media (max-width:550px)
{
    .form-inline .fas{
        position: relative;
        left: 22px;
        top: 27px;
    }
}
.navbar-nav .nav-item{
    margin: 10px 8px;
}
.nav-item .nav-link{
    font-weight: bold;
}
.nav-item .nav-link:hover{
    color: red;
}
.nav-item .nav-link .far{
    padding: 20px;
}

.nav-item #new{
    border-radius: 20px;
    padding: 2px 5px;
    margin-top:5px ;
    margin-left: 10px;
}
.nav-item .bt1{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 4px 5px;
    margin-top: 5px;
    margin-left: 10px;
    color: blue;
}
.img1{
    margin-top: 15px;
    margin-left: 10px;
}
.img1:hover{
    color: rgb(231, 9, 9);    
}
#new1{
    border-radius: 10px;
}
#new1:hover{
    color: dodgerblue;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
 .heading{
    margin: 50px 150px;
    font-weight: bold;
}
.head1{
    margin-top: 20px;
    margin-left: 140px;
    font-size: 1rem;
    font-weight: bold;
} 
.mycard{
    display: inline-block;
    margin-left: 150px;
}
.mycard .card-body{
    max-width: fit-content;
    border: 2px dotted;
    border-radius: 20px;
    text-align: center;
    margin: 0;
    height: 200px;
    width: 30em;    
}
.latest{
    position:absolute;
    top: 220px;
    left: 700px;
    font-size: 1rem;
    font-weight: bold;
}
.latest-card{
    position: absolute;
    top: 250px;
    left: 680px;
    border-radius:20px; 
}

